body {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
  /* overflow-y: hidden; // hide vertical */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h4,
.h5,
.h6 {
  line-height: 1.4;
}

.cbody {
  border: 10px solid #ff871b;
}
.booknow {
  background-color: #ff871b;
  color: #f7f7f7;
}

.pmimg {
  top: 10px;
  margin-top: -20%;
}
.left {
  float: left;
}

.carousel-item img {
  height: 100%;
  margin-top: 104px;
}

.primary-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 8px;
}

.menu img {
  height: 120px;
  width: 120px;
}

.icon {
  width: 100px;
}

.img1 {
  position: relative;
  left: 25px;
  bottom: 80px;
  border-radius: 0% 30%;
  border: 13px solid white;
}
.text {
  bottom: 80px;
}
.img2 {
  position: relative;
  top: 3px;
  right: 50px;
  border-radius: 0% 0% 30% 0%;
  border: 13px solid white;
}
.marketheading {
  position: relative;
  left: 54%;
  top: 40%;
}
.textbtn {
  color: #000;
  background-color: #ffffff;
  border-color: #000;
}

/*** Footer ***/

.footer {
  text-align: center;
  background: #880202;

  font-style: bold;
  background-size: cover;
}
.text-start {
  left: 100px;
}
.card {
  padding: 0;
}
.card-wrapper {
}
.copyright {
  text-decoration: none;
  color: white;
}

.fcolor {
  background-color: #ff871b;
  color: #ffffff;
  border-radius: 5px;
  font-family: sans-serif;
}

/* custom design */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: "Dancing Script";
  width: 85%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: #808080;
  padding: 0px 0;
  background: transparent;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.menu-vertical-line {
  width: 1px;
  background-color: #e8edf5;
}
.list-unstyled a {
  list-style: none;
  text-decoration: none;
  color: #000;
}

.img-container {
  float: left;
  width: 33%;
  padding: 5px;
}

.googleimg {
  max-width: fit-content;
}

@media (max-width: 900px) {
  .myme {
    margin-left: 15%;
  }
}
@media (min-width: 950px) {
  .textabout {
    margin-top: 45px;
  }
}
.icons i {
  font-size: 150%;
}

/* Counter */
.counter_number {
  font-size: 40px;
  font-weight: 700;
  font-family: roboto;
  color: #bdbdbd;
}
.counter_title {
  font-family: roboto;
  font-weight: 600;
  color: #c9c9c9;
  letter-spacing: 0.25px;
}
.counter_cell {
  margin-bottom: 66px;
}
/* Counter end */

#main_nav {
  width: 100%;
  position: fixed;
  z-index: 2;
}
.main_body {
  margin-top: 103px;
  width: 100%;
  height: 100%;
}

.nav_icon {
  float: left;
}
.nav_index {
  /* border-bottom: 0.25px solid #D9D9F9; */
  background-color: #f7f7f7;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.menu_item {
  background-color: rgb(255, 255, 255);
  border: 3px solid #f7f7fd;
  border-radius: 3px;
  z-index: 1;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 300px;
  overflow: auto;
}
.menulogo {
}
.loginbtn {
  border-color: #f6851f;
  color: #f6851f;
  margin-right: 500px;
}
.menu_section_margine {
  border-right: 5px solid #fab87e;
}

.dummy_text {
  padding-top: 100px;
}

.menu_subtitle {
  color: #fcb272;
  font-weight: 700;
}

.pdl_28 {
  padding-left: 28px;
}
/* contact image  */
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  right: 80px;
  width: 100%;
  height: 100%;
}
.image2 {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 77%;
  height: 46%;
}
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 15px;
  color: #ffffff;
  line-height: 10px;
}
.top-left {
  position: absolute;
  bottom: 121px;
  left: 15px;
  text-align: left;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 256px;
}
/* contact image end */
/* why photo moy section start */
.index_number_l {
  float: right;
  font-weight: 800;
  color: #c1c1c1;
  font-family: alfa slab system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 55px;
  line-height: 33px;
  margin-left: 19px;
}
.index_title {
  font-weight: bold;
  color: #f6851f;
  font-size: 16px;
}
.section_text_l {
  text-align: right;
}

.index_number_r {
  float: left;
  font-weight: 800;
  color: #c1c1c1;
  font-family: alfa slab system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 55px;
  line-height: 33px;
  margin-right: 19px;
}
.section_text_r {
  text-align: left;
}
/* why photo moy section end */
.appimg {
  margin-left: 10%;
}
/* map section */
.createmain {
  position: relative;
  top: 0;
  left: 0;
}
.formclass {
  position: absolute;
  right: 80px;
  left: 25%;
  top: 10%;
  height: 10%;
  width: 50%;
}

.formcolor {
  color: #bdbdbd;
  font-family: sans-serif;
  font-weight: bolder;
}

/* location page,packages page,create account section css */

.packages {
  position: absolute;
  left: 57%;
  top: 5%;
  height: 515px;
  width: 321px;
  background-color: #f6851f;
}
.booking_class {
  position: absolute;
  left: 57%;
  /* bottom: 40%; */
  height: 439px;
  width: 321px;
  background-color: #f6851f;
}
.location_class {
  position: absolute;
  left: 57%;
  /* bottom: 40%; */
  height: 439px;
  width: 321px;
  background-color: #f6851f;
}
.new_create_account {
  position: absolute;
  left: 30%;
  top: 20px;
  height: 450px !important;
  width: 550px !important;
  background-color: #f7f7f7;
}
.cabtn {
  margin-left: 30%;
  width: 35%;
  color: #ffffff;
  background-color: #ea7d1a;
  border-color: #f7f7f7;
}
.licolor {
  color: #8a8888;
}
.scolor {
  color: #cc650a;
}
.create-logo {
  width: 75px;
  height: 40%;
  margin-top: 10%;
}
.inputdiv {
  margin-left: 20%;
  
}
.inputfild {
  width: 80%;
  height: 40px;
  background-color: #f3f3f3;
  border-color: #ced4da;
  color: #ced4da;
}
/* input icon */
.input-icons i {
  position: absolute;
}

.input-icons {
  /* width: 100%; */
  margin-bottom: 15px;
}

.icon {
  padding: 5px;
  min-width: 48px;
  margin-left: 79%;
  color: #c5c5c5;
  margin-top: 2px;
}

.date_icon {
  padding: 6px;
  min-width: 40px;
  margin-left: 30%;
  color: #c5c5c5;
}
.dropdown {
  position: relative;
  left: 50px;
  top: 50px;
}

/* packages section css */

.packages-item {
  position: relative;
  overflow: hidden;
}
.packages-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7fd;
  bottom: -100%;
  transition: 0.5s;
}
.packages-item:hover .packages-overlay {
  bottom: 0;
}
.cardbutton {
  background-color: #f6851f;
  color: #ffffff;
  border: none;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #f6851f;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #f6851f;
  color: #000000;
}

/* counter css */
.counter {
  font-family: "Inter";
}
.flex {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex div {
  width: 150px;
  height: 150px;
  padding: 50px 0;
  margin: 10px;
  text-align: center;
  border-radius: 5px;

  color: #c4c4c4;
}
/* counter css end*/



/* added new css files 16-01-23 */
/* about section hover css */
.aboutimg {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.aboutimg:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* brand section image hover css*/
.brandimg {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.brandimg {
  height: 100px;
  float: left;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}
.brandimg:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.headerimg{

}

.package_img{
  width: 412px;
height: 422px;
left: 68px;
top: 119px;
}
.custom_packages {
  background-image: url("/images/pagebg.jpg");
  background: cover;
  
}
.flogo{
  height: 96px;
  width: 96px;
}
.model-logo{
   width: 96px;
  height: 96px;
  margin-top: 5%;
  padding: 10px 10px;
}

/* all media querys */
@media (max-width: 1824px) {
  .Why_photo_moy_hidden {
    display: none !important;
  }
  .Why_photo_moy {
    display: block !important;
  }
  .loginbtn_hide {
    display: none !important;
  }
  .loginbtn_hide_show {
    display: block !important;
  }
  .menu_icon {
    margin-right: 75%;
  }
}

@media (max-width: 1224px) {
  .Why_photo_moy {
    display: block !important;
  }
  .Why_photo_moy_hidden {
    display: none !important;
  }
  .loginbtn_hide {
    display: none !important;
  }
  .loginbtn_hide_show {
    display: block !important;
  }
  .new_create_account {
    position: absolute;
    left: 25%;
    top: 10px;
    height: 50% !important;
    width: 50% !important;
    background-color: #f7f7f7;
  }
  .packages {
    position: absolute !important;
    left: 22% !important;
    bottom: 18% !important;
    height: 465px !important;
    width: 255px !important;
    background-color: #f6851f;
  }
  .menu_icon {
    margin-right: 73%;
  }
}

@media (max-width: 1024px) {
  .Why_photo_moy_hidden {
    display: block !important;
  }
  .Why_photo_moy {
    display: none !important;
  }
  .loginbtn_hide {
    display: none !important;
  }
  .loginbtn_hide_show {
    display: block !important;
  }
  .location_class {
    position: absolute !important;
    left: 35% !important;
    bottom: 10% !important;
    height: 420px !important;
    width: 240px !important;
    background-color: #f6851f;
  }
  .booking_class {
    position: absolute !important;
    left: 17% !important;
    bottom: 38% !important;
    height: 434px !important;
    width: 276px !important;
    background-color: #f6851f;
  }

  .packages {
    position: absolute !important;
    left: 22% !important;
    bottom: 18% !important;
    height: 465px !important;
    width: 255px !important;
    background-color: #f6851f;
  }
  .new_create_account {
    position: absolute !important;
    left: 25% !important;
    top: 100px !important;
    height: 47% !important;
    width: 50% !important;
    background-color: #f7f7f7;
  }
  .menu_icon {
    margin-right: 72% !important;
  }
}

@media (min-width: 850px) and (max-width: 950px) {
  .Why_photo_moy_hidden {
    display: block !important;
  }
  .Why_photo_moy {
    display: none !important;
  }
  .location_class {
    position: absolute !important;
    left: 35% !important;
    bottom: 10% !important;
    height: 420px !important;
    width: 240px !important;
    background-color: #f6851f;
  }
  .booking_class {
    position: absolute !important;
    left: 17% !important;
    bottom: 33% !important;
    height: 434px !important;
    width: 276px !important;
    background-color: #f6851f;
  }
  .new_create_account {
    position: absolute !important;
    left: 25% !important;
    top: 55px !important;
    height: 47% !important;
    width: 50% !important;
    background-color: #f7f7f7;
  }
  .cabtn {
    margin-left: 30% !important;
    width: 37% !important;
    color: #ffffff;
    background-color: #ea7d1a;
    border-color: #f7f7f7;
  }
  .loginbtn_hide {
    display: block !important;
  }
  .loginbtn_hide_show {
    display: none !important;
  }
  .menu_icon {
    margin-right: 82% !important;
  }
}

@media (max-width: 768px) {
  .menu_icon {
    margin-right: 12% !important;
  }
  .apptext {
    margin-left: -18% !important;
  }
  .apptext1 {
    margin-left: -13% !important;
  }
  .appimg {
    margin-left: 12% !important;
  }
  .Why_photo_moy_hidden {
    display: block !important;
  }
  .Why_photo_moy {
    display: none !important;
  }
  .loginbtn_hide {
    display: block !important;
  }
  .loginbtn_hide_show {
    display: none !important;
  }

  .section_text_r {
    text-align: center !important;
  }
  .index_number_r {
    float: left;
    font-weight: 800;
    color: #c1c1c1;
    font-family: alfa slab system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 55px;
    line-height: 33px;
    margin-right: 19px;
  }

  .location_class {
    position: absolute !important;
    left: 15% !important;
    bottom: 35% !important;
    height: 420px !important;
    width: 240px !important;
    background-color: #f6851f;
  }
  .booking_class {
    position: absolute !important;
    left: 18% !important;
    bottom: 32% !important;
    height: 434px !important;
    width: 276px !important;
    background-color: #f6851f;
  }
  .packages {
    position: absolute !important;
    left: 19% !important;
    top: 12% !important;
    height: 465px !important;
    width: 255px !important;
    background-color: #f6851f;
  }
  .new_create_account {
    position: absolute !important;
    left: 14% !important;
    top: 42px !important;
    height: 47% !important;
    width: 70% !important;
    background-color: #f7f7f7;
  }
  .cabtn {
    margin-left: 25% !important;
    width: 51% !important;
    color: #ffffff !important;
    background-color: #ea7d1a !important;
    border-color: #f7f7f7 !important;
  }

  .image1 {
    position: relative;
    right: 11px !important;
    width: 100%;
    height: 100%;
  }
  .image2 {
    position: absolute;
    top: 62px !important;
    left: 100px !important;
    width: 78% !important;
    height: 46% !important;
  }

  .bottom-left {
    position: absolute;
    bottom: 50px !important;
    left: 115px !important;
    color: #ffffff;
    line-height: 10px;
  }
  .top-left {
    position: absolute;
    bottom: 185px !important;
    left: 115px !important;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 365px;
  }
}

@media (max-width: 375px) {
  .menu_icon {
    margin-right: 12% !important;
  }
  .loginbtn_hide {
    display: block !important;
  }
  .loginbtn_hide_show {
    display: none !important;
  }
  .menu_description {
    display: none !important;
  }
  .new_create_account {
    position: absolute !important;
    left: 10% !important;
    top: 95px !important;
    height: 65% !important;
    width: 80% !important;
    background-color: #f7f7f7;
  }
  .cabtn {
    margin-left: 22% !important;
    width: 60% !important;
    color: #ffffff;
    background-color: #ea7d1a;
    border-color: #f7f7f7;
  }
  .image1 {
    position: relative;
    right: 17px !important;
    width: 100% !important;
    height: 100%;
  }
  .image2 {
    position: absolute;
    top: 37px !important;
    left: 48px !important;
    width: 78% !important;
    height: 46% !important;
  }
  .bottom-left {
    position: absolute;
    bottom: 15px !important;
    left: 60px !important;
    color: #ffffff;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 179px;
  }
  .top-left {
    position: absolute;
    bottom: 100px !important;
    left: 60px !important;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 179px;
  }
  .location_class {
    position: absolute !important;
    left: 17% !important;
    bottom: 17% !important;
    height: 420px !important;
    width: 240px !important;
    background-color: #f6851f;
  }
  .booking_class {
    position: absolute !important;
    left: 12% !important;
    bottom: 20% !important;
    height: 434px !important;
    width: 276px !important;
    background-color: #f6851f;
  }
  .packages {
    position: absolute !important;
    left: 15% !important;
    top: 5% !important;
    height: 465px !important;
    width: 255px !important;
    background-color: #f6851f;
  }
  .menu_icon {
    margin-right: 27% !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 320px) {
  .menu_description {
    display: none !important;
  }
  .new_create_account {
    position: absolute !important;
    left: 30px !important;
    top: 40px !important;
    height: 70% !important;
    width: 80% !important;
    background-color: #f7f7f7;
  }
  .cabtn {
    margin-left: 22% !important;
    width: 60% !important;
    color: #ffffff;
    background-color: #ea7d1a;
    border-color: #f7f7f7;
  }
  .image1 {
    position: relative;
    right: 17px !important;
    width: 100% !important;
    height: 100%;
  }
  .image2 {
    position: absolute;
    top: 30px !important;
    left: 35px !important;
    width: 78% !important;
    height: 46% !important;
  }
  .bottom-left {
    position: absolute;
    bottom: 15px !important;
    left: 40px !important;
    color: #ffffff;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 179px;
  }
  .top-left {
    position: absolute;
    bottom: 80px !important;
    left: 40px !important;
    text-align: left;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 179px;
  }
  .location_class {
    position: absolute !important;
    left: 10% !important;
    bottom: 40% !important;
    height: 420px !important;
    width: 240px !important;
    background-color: #f6851f;
  }
  .booking_class {
    position: absolute !important;
    left: 17% !important;
    bottom: 33% !important;
    height: 434px !important;
    width: 276px !important;
    background-color: #f6851f;
  }
  .packages {
    position: absolute !important;
    left: 20% !important;
    bottom: 38% !important;
    height: 465px !important;
    width: 255px !important;
    background-color: #f6851f;
  }
  .menu_icon {
    margin-right: 5% !important;
  }
}
/* all media querys end */
